
:root{
    --whitisch: #ffffff;
    --grayisch: #c7c4bd;
    --darkgrayisch: #444141;
    --blackisch: #1b1919;
    --pinkisch: #d26bbc;
    --greenisch: #bcf186;
    --orangeisch: #f7c599;
    --min-height: 40em;
    --general-marg: 10px;
}

body{
    /* background-color: var(--greenisch); */
    /* background-image: linear-gradient(var(--whitisch), var(--grayisch)); */
} 

#container{
    /* background-color:var(--greenisch);
    border: 5px solid;
    border-radius: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif; */
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-auto-rows: 25%;
    grid-template-areas: 
    'input root root root root'
    'input root root root root'
    'input root root root root'
    'input root root root root';
}

#root{

    grid-area: root;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    gap: 3px;
    padding: 5px;
} 

#textLabel{ 
    text-align: center;

}

#input-div{
    grid-area: input;
    min-height: var(--min-height);
    display: grid;
    grid-column: span;
}

.diceBox{
    border: 4px solid;
    border-radius: 20px;
    text-align: center;
    width: 90%;
}

h1{
    font-size: 50px;
    text-decoration: underline;
    -webkit-text-stroke: 2px black; 
}

input{
    text-align: center;
}
button{
}

#input{
}